<section>
  <aside id="sidebar">
    <h2>Bloc Chat</h2>
    <div ng-repeat="room in home.room.all" id="rooms">
      <p>{{ room.$id }}</p>
    </div>
    
    <div ng-controller="ModalCtrl as $ctrl" id="modal">
      <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Create new room</h3>
        </div>
        <div class="modal-body" id="modal-body">
          <form>
            Enter a room name
            <input type="text" id="userInput">
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="button" ng-click="home.room.addUserInput(); $ctrl.ok()">Create room</button>
          <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>
      </script>
      <script type="text/ng-template" id="stackedModal.html">
        <div class="modal-header">
          <h3 class="modal-title" id="modal-title-{{name}}">The {{name}} modal!</h3>
        </div>
        <div class="modal-body" id="modal-body-{{name}}">
        </div>
      </script>
      
      <button type="button" class="btn btn-default" ng-click="$ctrl.open('sm')">New room</button>
    </div>
  </aside>
</section>